{% extends 'base.html' %}

{% block content %}

<h1>Homes</h1>

<div class="home-ctr">

	<div class="home-list-ctr">
		{% for home in object_list %}
		<div class="home-card">
			<div class="home-main">
				{{ home.name }}
			</div>
			<div class="home-options">
				<a href="{% url 'homes_update' home.id %}">Edit</a>
				<a href="{% url 'homes_delete' home.id %}">Delete</a>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="new-home-form">
		<form action="{% url 'homes_add' %}" method="POST">
			{% csrf_token %}
			<label for="id_name">Add Home</label>
			<input type="text" name="name" maxlength="50" required id="id_home_name" placeholder="Happy Home Paradise">
			<input type="submit" value="Submit!" class="btn">
		</form>
	</div>

</div>

{% endblock %}
