{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AC Collector</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	<header>
		<nav>
			<div class="logo">
				<a href="{% url 'home' %}"><div>
					<img id="logo" src="https://upload.wikimedia.org/wikipedia/commons/5/58/Animal_Crossing_Leaf.png">
				</div></a>
			</div>
			<div class="main-nav">
				<a href="{% url 'about' %}">About</a>
				<a href="{% url 'villagers_index' %}">All Villagers</a>
			</div>
			<div class="add-villager">
				<a href="{% url 'villager_create' %}">Add Villager</a>
			</div>
		</nav>
	</header>
	<main class="container">
		{% block content %}
		{% endblock %}
	</main>
	<footer class="page-footer">
		<div class="right">All Rights Reserved, &copy; 2023 Villager Collector, #JockVillagerRights &nbsp;</div>
	</footer>
</body>
</html>