:root {
	--main-color: #0cc6b8;
	--secondary-color: #dcd6bd;
	--accent-color: #80c9db;
}

* {
	font-family: 'Poppins', sans-serif;
	padding: 0px;
	margin: 0px;
}


html,
body {
	min-width: 100%;
	min-height: 98vh;
	background-color: var(--secondary-color);
	overflow: scroll;
}

header {
	background-color: var(--main-color);
	display: flex;
}

nav {
	display: flex;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	padding: 0px 0px 8px 0px;
}

.logo {
	display: flex;
	justify-content: flex-start;
	padding: 8px;
}

#logo {
	height: 2.5rem;
}

a {
	text-decoration: none;
	padding: 0px 10px;
	color: white;
	font-size: 1.2rem;
	font-weight: 500;
}

a:hover {
	font-weight: bold;
}

h1 {
	text-align: center;
	padding: 8px 0px;
	color: white;
}

footer {
	width: 100%;
	position: fixed;
	text-align: end;
	bottom: 0px;
	font-size: .8rem;
	color: white;
	background-color: var(--main-color)
}

/* Login/Signup  */

.login-form label,
.signup-form label {
	color: black;
}

.login-form,
.signup-form {
	background-color: var(--accent-color);
	padding: 1rem;
	margin: 1rem;
	box-shadow: 4px 4px 4px rgb(85, 85, 85);
}

.login-form p,
.signup-form p {
	display: flex;
	flex-direction: column;
}

.login-form input,
.signup-form input {
	border: none;
	background-color: var(--accent-color);
	border-bottom: 2px solid white;
	height: 1.2rem;
	margin-bottom: .3rem;
}

.login-form input:focus,
.signup-form input:focus {
	outline: none !important;
}

.form-submit.btn {
	border: .2rem solid white ;
	background-color: var(--light-blue);
	padding: .2rem;
	height: 2rem;
	width: 5rem;
	cursor: pointer;
}

/* Villager Form */

.villager-form, 
.form-ctr {
	display: flex;
	justify-content: center;
}

.villager-form {
	padding: 20px;
	background-color: var(--accent-color);
	width: 80%;
	flex-direction: column;
	border-radius: 10%;
}

.submit {
	width: 10%;
	align-self: center;
	margin-top: 20px;
}

#id_name,
#id_personality,
#id_species,
#id_birthday,
#id_catchphrase {
	width: 80%;
	height: 2.5rem;
	border: none;
	border-bottom: 1px solid black;
	background-color: none;
}

.teal-text {
	color: var(--accent-color)
}

/* Villager Index Page */

.card-ctr {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: .5rem 1.5rem 1.5rem 1.5rem;
}

.card {
	display: flex;
	flex-direction: column;
	max-height: 14rem;
	max-width: 12rem;
	background-color: white;
	margin: 2vmin;
}

.card > a {
	height: 90%;
}

.villager-name {
	height: 10%;
	text-align: center;
	padding: 0rem .3rem .6rem .3rem;
}

.villager-name p {
	font-family: 'Indie Flower', cursive;
	font-size: 1.5rem;
	height: 1.5rem;
}

.villager-img img {
	max-width: 10rem;
	margin: .2rem;
	margin-top: .8rem;
}

/* Villager Details Page */

.detail-ctr {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1.2fr 1.8fr;
	grid-template-areas: 
		'sidebar bulletin bulletin'
		'sidebar residence notebook';
}

.sidebar {
	grid-area: sidebar;
	background-color: white;
	width: 15wrem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 4rem 1rem 4rem 1rem;
	box-shadow: 4px 4px 4px rgb(85, 85, 85);
}

.villager-pic {
	margin: auto;
	margin-bottom: 0px;
}

.villager-pic > img {
	height: 15rem;
	width: auto;
	padding: .5rem;
}

.villager-info {
	margin: auto; 
}

.label {
	font-weight: 600;
}

td {
	margin: 2rem;
	padding: .2rem;
}

.CRUD-options-ctr {
	width: 100%;
	display: flex;
}

.CRUD-options {
	width: 50%;
	display: flex;
	justify-content: center;
}

.CRUD-options > a {
	color: var(--accent-color);
	cursor: pointer;
}

.upload-form {
	display: flex;
	flex-direction: column;
	margin-top: .4rem;
	margin-bottom: .4rem;
}

.upload-form input {
	width: 5.5rem;
}

.bulletin {
	grid-area: bulletin;
	background-color: #caa478;
	border: .8rem solid #9c6f3e;
	margin: .8rem;
	width: 95%;
	justify-self: center;
	box-shadow: 4px 4px 4px rgb(85, 85, 85);
	min-height: 14rem;
}

.photo-ctr {
	margin: .5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.polaroid {
	background-color: white;
	padding: .3rem;
	padding-bottom: .8rem;
}

.polaroid img {
	height: 6rem;
	width: auto;
}

.residence-history-ctr,
.notebook-ctr {
	width: 90%;
	height: 85%;
	align-self: center;
	justify-self: center;
	box-shadow: 4px 4px 4px rgb(85, 85, 85);
}

h4 {
	margin: .5rem 0px;
	padding: 0px .3rem;
	text-align: center;
	border-bottom: 3px solid black;
	font-weight: 400;
	width: 100%;
	font-size: 1.5rem;
}

.residence-history-ctr {
	grid-area: residence;
	background-color: var(--main-color);
	display: flex;
	justify-content: center;
	max-height: 21rem;
}

.residence-history {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.residence-heading {
	display: flex;
	width: 80%;
}

.residence-heading h4 {
	width: 90%;
}

.villager-home-list {
	text-align: center;
	width: 80%;
}

.villager-home {
	width: fit-content;
	margin: 0px;
	font-size: 1rem;
}

.home-listing {
	display: flex;
	justify-content: space-between;
}

.delete-villager-home {
	opacity: 0;
}

.delete-villager-home:hover {
	opacity: 1;
	font-weight: 300;
}

.home-selector-form {
	width: 18rem;
}

.home-selector select {
	width: 70%;
}

.notebook-ctr {
	grid-area: notebook;
	background-color: white;
	max-height: 20rem;
}

.notebook {
	display: grid;
	height: 100%;
	grid-template-rows: 10% 60% 30%;
	grid-template-areas: 
		'title'
		'main'
		'form';
}

.notebook h3 {
	text-align: center;
	margin-bottom: .2rem;
}

.note-ctr {
	grid-area: main;
	margin: .5rem;
	overflow: auto;
}

.note-div {
	display: flex;
	border-top: 1px solid var(--accent-color);
	border-bottom: 1px solid var(--accent-color);
}

.delete-note a {
	color: black;
}

.delete-note a:hover {
	font-weight: 500;
	color: red;
}

.note {
	font-family: 'Indie Flower', cursive;
	font-size: 1.2rem;
	margin: 0px .2rem;
}

.notebook-form {
	grid-area: form;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: .5rem;
}

.notebook-form label {
	display: none;
}

#id_content {
	max-height: 2.5rem;
	margin: .2rem;
}

.guest-btn {
	padding: .2rem;
	font-size: .8rem;
}

@media (max-width: 1000px) {
	.detail-ctr {
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow: scroll;
	}

	.sidebar {
		margin: 2rem;
	}

	.bulletin {
		background: none;
		border: none;
		box-shadow: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: none;
	}

	.polaroid {
		padding: 1rem;
		padding-bottom: 4rem;
		margin: 2rem;
		box-shadow: 3px 3px 3px rgb(67, 66, 66);
	}

	.polaroid img {
		height: 15rem;
	}

	.notebook-ctr,
	.residence-history-ctr {
		margin: 2rem;
		padding-bottom: 2rem;
		max-height: none;
	}
}

/* Delete Form */

.delete-ctr {
	display: flex;
	justify-content: center;
	margin: 3rem;
}

.delete-span {
	background-color: white;
	width: 60%;
}

.confirm-delete {
	color: black;
}

.confirm-delete-form {
	display: flex;
	justify-content: center;
	margin: 1rem;
}

.confirm-delete-btn {
	padding: .5vmin;
}

.confirm-delete-form a {
	color: var(--accent-color)
}

/* Address Book */

.home-ctr {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-card {
	background-color: var(--accent-color);
	width: 24rem;
	height: 2rem;
	box-shadow: #0cc6b8;
	display: flex;
	margin: .5rem;
	padding: .2rem;
}

.home-main {
	width: 70%;
}

.home-options {
	width: 30%;
	display: flex;
	justify-content: flex-end;
}

.new-home-form {
	background-color: white;
	margin: 2rem;
	width: 20rem;
}

.new-home-form form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: .5rem;
}

.new-home-form form * {
	margin: .2rem;
}

#id_home_name {
	width: 15rem;
}