:root {
	--main-color: #0cc6b8;
	--secondary-color: #dcd6bd;
	--accent-color: #80c9db;
}

* {
	font-family: 'Poppins', sans-serif;
	padding: 0px;
	margin: 0px;
}


html,
body {
	min-width: 100%;
	min-height: 98vh;
	background-color: var(--secondary-color);
}

.container {
	height: 85vh;
	margin: 0px;
}

nav {
	background-color: var(--main-color);
	display: flex;
	justify-content: space-between;
}

nav > div {
	display: flex;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding: 0px 0px 8px 0px;
}

.add-villager {
	justify-content: flex-end;
}

.logo {
	display: flex;
	justify-content: flex-start;
	padding: 8px;
}

#logo {
	height: 3.5rem;
}

a {
	text-decoration: none;
	padding: 0px 10px;
	color: white;
	font-size: 1.2rem;
	font-weight: 500;
}

h1 {
	text-align: center;
	padding: 8px 0px;
	color: white;
}

footer {
	width: 100%;
	position: fixed;
	text-align: end;
	bottom: 0px;
	font-size: .8rem;
}

/* Villager Form */

.villager-form, 
.form-ctr {
	display: flex;
	justify-content: center;
	height: 70%;
}

.villager-form {
	padding: 20px;
	background-color: var(--accent-color);
	width: 80%;
	flex-direction: column;
	border-radius: 10%;
}

.submit {
	width: 10%;
	align-self: center;
	margin-top: 20px;
}

#id_name,
#id_personality,
#id_species,
#id_birthday,
#id_catchprase {
	width: 80%;
	height: 2.5rem;
	border: none;
	border-bottom: 1px solid black;
	background-color: none;
}

.teal-text {
	color: var(--accent-color)
}

/* Villager Index Page */

.index-ctr {
	display: flex;
	flex-wrap: wrap;
}

.card {
	display: flex;
	flex-direction: column;
	height: 35vmin;
	width: 25vmin;
	background-color: white;
	margin: 2vmin;
}

.card > a {
	height: 90%;
}

.villager-name-idx {
	height: 10%;
	text-align: center;
	padding: 1vmin;
}

/* Villager Details Page */

.detail-ctr {
	height: 100%;
	display: grid;
	grid-template-columns: .5fr 1fr 1fr;
	grid-template-areas: 
		'sidebar bulletin bulletin'
		'sidebar residence comments';
}

.sidebar {
	grid-area: sidebar;
	background-color: white;
	width: 15wrem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 4rem 1rem 4rem 1rem;
}

.villager-pic {
	margin: auto;
}

.villager-pic > img {
	height: 15rem;
	width: auto;
	padding: .5rem;
}

.villager-info {
	margin: auto; 
}

.label {
	font-weight: 600;
}

td {
	margin: 2rem;
	padding: .2rem;
}

.CRUD-options-ctr {
	width: 100%;
	display: flex;
}

.CRUD-options {
	width: 50%;
	display: flex;
	justify-content: center;
}

.CRUD-options > a{
	color: var(--accent-color);
	cursor: pointer;
}

.bulletin {
	grid-area: bulletin;
	background-color: #caa478;
	border: .8rem solid #9c6f3e;
	margin: .8rem;
	width: 90%;
}

.residence-history,
.comment-book {
	width: 90%;
	height: 75%;
	align-self: center;
	justify-self: center;
}

.residence-history {
	grid-area: residence;
	background-color: var(--main-color);
}

.comment-book {
	grid-area: comments;
	background-color: var(--accent-color);
}

h4 {
	margin: 2vmin;
	text-align: center;
	border-bottom: 3px solid black;
	font-weight: 400;
}