{% extends 'base.html' %}
{% block content %}


<div class="detail-ctr">
  <div class="sidebar">
    <div class="villager-pic">
      <img src="https://dodo.ac/np/images/e/ec/Snake_NH.png">
    </div>
    <div class="villager-info">
      <table>
        <tr>
          <td class="label">Name</td>
          <td>{{ villager.name }}</td>
        </tr>
          <td class="label">Personality</td>
          <td>{{ villager.personality }}</td>
        <tr>
          <td class="label">Species</td>
          <td>{{ villager.species }}</td>
        </tr>  
        <tr>
          <td class="label">Birthday</td>
          <td>{{ villager.birthday }}</td>
        </tr>
        <tr>
          <td class="label">Catchphrase</td>
          <td>{{ villager.catchphrase }}</td>
        </tr>
      </table>
    </div>
    <div class="CRUD-options-ctr">
      <div class="CRUD-options">
        <a href="{% url 'villager_update' villager.id %}">Edit</a>
      </div>
      <div class="CRUD-options">
        <a href="{% url 'villager_delete' villager.id%}">Delete</a>
      </div>
    </div>
  </div>
  
    <div class="bulletin">
      
    </div>
    <div class="residence-history-ctr">
      <div class="residence-history">
        <div class="residence-heading">
          <h4>Residence History</h4>
        </div>
        {% if villager.homes.count %}
        <ol class="villager-home-list">
          {% for home in villager.homes.all %}
              <div class="home-listing">
                <li class="villager-home">{{ home.name }}</li>
                <a href="{% url 'diss_home' villager.id home.id %}" class="delete-villager-home">X</a>
              </div>
          {%  endfor %}
        </ol>
        {% endif %}
        <div class="home-selector">
          <form action="" method="POST"  class="home-selector-form">
            {% csrf_token %}
            <select name="home_id">
              {% for home in home_list %}
                <option value="{{home.id}}">{{ home.name }}</option>
              {% endfor %}
            </select>
            <input type="submit" value="Submit!" class="btn">
          </form>
        </div>
      </div>
    </div>
    <div class="notebook">
      {% for home in home_list %}
      <p>{{ home.name }}</p>
      {% endfor %}
    </div>
  
</div>


{% endblock %}